<nav>
	<img src="/images/logo.png" alt="Vitality logo" class="logo" />

	<div class="menu-container">
		<div class="logo-container">
			<img src="images/menu.svg" alt="Menu icon" class="hb" />
			<img src="images/close.svg" alt="Clost icon" class="close" />
		</div>
		<ul class="list-items">
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</nav>

<form action="/signup" method="POST">

	<div>
		<label for="name">Name</label>
		<input type="text" id="name" name="name" />
	</div>

	<div>
		<label for="email">Email</label>
		<input type="email" id="email" name="email" />
	</div>

	<div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" />
	</div>

	<div>
		<label for="confirmPassword">Confirm Password</label>
		<input type="password" id="confirmPassword" name="confirmPassword" />
	</div>

	{{#if errMessage}}
		<p class="error">{{errMessage}}</p>
	{{/if}}

	<button type="submit">Sign up</button>

</form>