<link rel="stylesheet" href="stylesheets/home.css" />

<nav>
	<img src="/images/logo.png" alt="Vitality logo" class="logo" />

	<div class="menu-container">
		<div class="logo-container">
			<img src="images/menu.svg" alt="Menu icon" class="hb" />
			<img src="images/close.svg" alt="Clost icon" class="close" />
		</div>
		<ul class="list-items">
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</nav>

<img
	src="images/hero2.jpeg"
	alt="Woman eating while using phone"
	class="hero"
/>

<h1>Vitality</h1>
<p>Struggling to keep track of your macros? Viality is perfect for you! Sign up
	now</p>

<a href="/signup">Sign up</a>