<link rel="stylesheet" href="stylesheets/home.css" />

<img
	src="images/hero2.jpeg"
	alt="Woman eating while using phone"
	class="hero"
/>

<h1>Vitality</h1>
<p>Struggling to keep track of your macros? Viality is perfect for you! Sign up
	now</p>

<a href="/signup">Sign up</a>