<nav>
	<img src="/images/logo.png" alt="Vitality logo" class="logo" />

	<div class="menu-container">
		<div class="logo-container">
			<img src="images/menu.svg" alt="Menu icon" class="hb" />
			<img src="images/close.svg" alt="Clost icon" class="close" />
		</div>
		<ul class="list-items">
			<li><a href="/">Home</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
</nav>

<h1>profile page</h1>

<p>{{user.caloriesNeeded}}</p>