.content {
	text-align: center;
}

h3 span {
	font-weight: 500;
}

form {
	display: flex;
	justify-content: center;
}

form button {
	padding: 0 0.5rem;
}

input {
	padding: 1rem 8rem 1rem 1rem;
	border: none;
}

.goal,
.cals-remaining {
	margin-bottom: 2rem;
}

.food-list {
	height: 10rem;
	overflow: scroll;
	border: 2px solid black;
	margin: 2rem 1rem 0;
	padding: 0 1rem;
}

.food-list div {
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.foods {
	padding: 0 1rem;
}

.foods h3 {
	margin: 2rem 0;
	text-align: center;
}

.foods div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.food-name {
	font-weight: bold;
}

.delete-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.delete-form div {
	display: flex;
	gap: 2rem;
}

.search-btn {
	background-color: #dae2b6;
	border-radius: 7px;
	border: none;
	font-size: 2rem;
	font-weight: 600;
}

.delete {
	background-color: rgb(255, 132, 132);
	font-size: 2rem;
	border: none;
	padding: 0.5rem;
	border-radius: 7px;
	font-weight: 600;
}
