nav {
	margin-bottom: 1rem;
}

form {
	display: flex;
	margin: 0 1rem;
	justify-content: space-between;
	align-items: center;
	background-color: #c6c1b8;
	margin-bottom: 2rem;
	border-radius: 7px;
	padding: 1rem;
	gap: 1rem;
}

button {
	background-color: #dae2b6;
	border-radius: 7px;
	border: none;
	font-size: 2rem;
	font-weight: 600;
	padding: 1rem;
}
