@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 0 2rem;
	background-color: #f9f1e2;
	font-size: 2.5rem;
	font-family: "Poppins", serif;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.696);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.menu-container {
	/* position: relative; */
}

.list-items {
	list-style: none;
	display: flex;
	position: absolute;
	background-color: white;
	top: 0;
	right: 0;
	left: 15rem;
	height: 100%;
	padding-top: 5rem;
	/* z-index: -1; */
}

a {
	text-decoration: none;
}

li a {
	color: #575a49;
	font-weight: 500;
	font-size: 2.7rem;
	text-align: left;
	margin-left: 2rem;
	font-size: 3rem;
}

.logo-container {
	position: relative;
	z-index: 2;
}

.logo {
	height: 4rem;
}

.hb,
.close {
	height: 4rem;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.error {
	color: red;
}

@media screen and (min-width: 1200px) {
	nav {
		padding: 2rem 3rem;
		margin-bottom: 4rem;
	}
	.content-container {
		display: flex;
		padding: 0 10rem;
		gap: 5rem;
	}

	.hero {
		width: 30rem;
	}

	.logo-container {
		display: none;
	}

	.list-items {
		display: block;
		position: relative;
		left: 0rem;
		padding-top: 0;
		background-color: transparent;
		display: flex;
		gap: 1rem;
	}

	.logo {
		height: 4.5rem;
	}

	.hero {
		width: 50%;
	}

	.content h1 {
		margin: 3rem 0 1rem;
	}

	.content p {
		font-size: 2.3rem;
		margin-bottom: 3rem;
	}
}
